# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual env
.venv/
venv/

# Environment
.env

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Tests
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Alembic
*.db

# Logs
*.log